<?xml version="1.0" ?><settings>
    <configure>
        <item0 deauth_scapy="True"/>
        <item1 deauth_mdk3="False"/>
        <item2 iscdhcpserver="True"/>
        <item3 dnsmasq="False"/>
        <mdk3 arguments="a -a"/>
        <local0 ipaddress="192.168.0.100"/>
        <local1 gateway="192.168.0.1"/>
        <mac getmac="None"/>
        <scan rangeIP="100-199"/>
        <monitor0 scan_scapy="False"/>
        <monitor1 scan_airodump="True"/>
        <themes selected="theme1"/>
        <advanced Function_scan="Ping"/>
    </configure>
</settings>