<?xml version="1.0" ?><settings>
    <configure>
        <deauth select="packets_scapy"/>
        <dhcp dhcp_server="iscdhcpserver"/>
        <scanner_AP select="scan_airodump"/>
        <mdk3 arguments="a -a"/>
        <scan rangeIP="100-199"/>
        <themes selected="theme2"/>
    </configure>

    <configure>
        <advanced Function_scan="Ping"/>
        <interface monitor_mode="mon0"/>
        <channel mchannel="11"/>
        <AP name="Example AP"/>
        <Iprange range="10.0.0.20 10.0.0.50"/>
        <redirect port="10000"/>
        <netcreds interface="at0"/>
    </configure>
</settings>