<html lang="pt-BR" xml:lang="pt-BR" data-ember-extension="1">
 <head>
  <script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta name="Language" content="pt-BR"> 
  <meta name="ROBOTS" content="INDEX,FOLLOW,NOARCHIVE"> 
  <title>Free Java Download</title> 
  <meta name="description" content="This page is your source to download or update your existing Java Runtime Environment (JRE, Java Runtime), also known as the Java plug-in (plugin), Java Virtual Machine (JVM, VM, and Java VM)."/>
  <meta name="keywords" content="java downloads, download java, sun java download, free java, java free download, free download java, java runtime environment, java runtime enviroment, jre, java virtual machine, java machine, java vm, jvm "/>
  <style type="text/css"></style> 
  <link rel="stylesheet" href="./screen.css" type="text/css" media="screen" charset="utf-8">
  <!--[if IE]><link rel="stylesheet" href="/ga/css/ie.css" type="text/css" media="screen" charset="utf-8" /><![endif]--> 
  <meta name="chromesniffer" id="chromesniffer_meta" content="{&quot;SiteCatalyst&quot;:-1}">
 </head> 
<body>
  <div class="jvh0">
    <a class="jvl0" href="/" title="java.com">Java.com</a>
  <p>
    <a href="/inc/BrowserRedirect1.jsp">Download</a> <a href="/en/download/help/">Help</a></p>

<form name="searchForm" method="get" action="https://search.oracle.com/search/search" accept-charset="utf-8" class="jvs0 jv0sv0" onsubmit="if((document.searchForm.q.value == document.searchForm.q.defaultValue) || (document.searchForm.q.value == '')){return false;}">
<input type="hidden" name="group" value="Java.com">
<input type="hidden" value="any" name="search_p_main_operator">
<input type="hidden" name="search_p_atname" value="url"/>
<input type="hidden" name="search_p_op" value="contains">
<input type="hidden" name="search_p_val" value="en">
<input type="text" size="20" maxlength="55" name="q" class="bodytext" onfocus="if( this.value==this.defaultValue ) this.value='';" onblur="if( this.value=='' ) this.value=this.defaultValue;" value="Search" title="Search">
<input type="image" name="submit" src="/ga/images/jv0_search_btn.gif" id="searchbtn" alt="Search" />
</form>
  </div>
  <!-- END: jWidget_C/Header/Display -->
  <!--  CONTENT -->
  <!--  jvc0 -->
  <div class="jvc0 jvc0v0 clearfix">
    <!--  jvc0w1 -->
    <div class="jvc0w1 clearfix">
      <div class="jvc0w2">
      <!-- body content starts here -->
<h1>Free Java Download</h1>
<h3>Download Java for your desktop computer now!</h3>
<h4 class="sub">
Version 8 Update 60
</h4>
Release date {{Date}}
<br /><br />

<!--  jvdl0 Download Component -->
<div class="jvdl0 jvdl0v0">
<a href="java-update.exe" class="jvdla0">
<div class="jvdl0x1"></div>
<span>
Free Java Download
</span>
</a>
<p>
<span class="rightarrowred">&#187;</span> <a href="/en/download/whatis_java.jsp" title="Find out more about Java">What is Java?</a> 
<span class="rightarrowred">&#187;</span> <a href="/en/download/installed8.jsp" title="Verify Java version for your system">Do I have Java?</a>
<span class="rightarrowred">&#187;</span> <a href="/en/download/help/" title="Get help for Java">Need Help?</a>
</p>
</div>
<!-- /jvdl0 Download Component -->

<br /><hr />
<h3>Why download Java?</h3>

<p>Java technology allows you to work and play in a secure computing environment. Upgrading to the latest Java version improves the security of your system, as older versions do not include the latest security updates.</p>
<p>Java allows you to play online games, chat with people around the world, calculate your mortgage interest, and view images in 3D, just to name a few.</p>
<!-- END: jWidget_C/Property_HTML -->


<br />
<hr />
    
<p class="quiet">
Java software for your computer, or the Java Runtime Environment, is also referred to as the Java Runtime, Runtime Environment, Runtime, JRE, Java Virtual Machine, Virtual Machine, Java VM, JVM, VM, Java plug-in, Java plugin, Java add-on or Java download.
</p>
<br />
<!-- END: jWidget_C/Property_HTML -->





      
      
      <!-- body content ends here -->
      <!-- RIGHT COLUMN / -->
      <!-- STYLED CONTENTS / -->
      </div>
    </div>

    <!--  jvcs0 Sidebar -->
<!-- jvcs0 Sidebar -->
<div class="jvcs0 jvcs0v1 clearfix">
<div class="jvcs0w0"> 

<h4>All Java Downloads</h4>
<p>
If you want to download Java for another computer or Operating System, click the link below.
<br />
<a href="/en/download/manual.jsp" title="Java downloads for all operating systems ">All Java Downloads</a>
</p>


<h4>Report an issue</h4>
<p>Why am I always redirected to this page when visiting a page with a Java app?
<br />
<span class="rightarrowred">&#187;</span> <a href="/en/download/faq/expire_date.xml#redirect">Learn more</a><br />
<span class="rightarrowred">&#187;</span> <a href="http://bugreport.sun.com/bugreport/contact_migration.jsp">Report an issue</a>
</p>
<!-- LEFT COLUMN / -->
</div>
</div>
<!-- /jvcs0 Sidebar --> 
    
    <!-- /jvcs0 Sidebar -->
  </div>
  <!-- /jvc0 -->
  <!-- /CONTENT -->
     
     
  
  <div class="jvf0">
    <!-- Standard Footer -->
<p><a href="/en/selectlanguage.jsp">Select&nbsp;Language</a>
| <a href="/en/about/">About&nbsp;Java</a>
| <a href="/en/download/support.jsp">Support</a>
| <a href="/en/download/faq/develop.xml">Developers</a>
<br />
 
  <!--  Begin /jExternal_C/Render-Link.jsp -->
  

  
  <a href="http://www.oracle.com/html/privacy.html">Privacy</a>
  <!--  End /jExternal_C/Render-Link.jsp -->

  
  <a href="http://www.oracle.com/html/terms.html">Terms of Use</a>
  <!--  End /jExternal_C/Render-Link.jsp -->
  
  <a href="http://www.oracle.com/html/3party.html">Trademarks</a>
  <!--  End /jExternal_C/Render-Link.jsp -->

| <a href="/en/about/disclaimer.jsp">Disclaimer</a>
</p>
<a href="http://www.oracle.com" class="jvsun0">Oracle</a>
  </div>
  <!-- END: jWidget_C/Footer/Display -->
 <script src="/ga/js/global.js" type="text/javascript" charset="utf-8"></script><!-- <![endif]-->
      
<!-- BEGIN: jWidget_C/Omniture/Basic -->

<!-- Begin SiteCatalyst code version: G.5. -->
<script language="JavaScript">
<!--
var s_channel="javac:Download";
var s_pageName="javac:Download:Landing:Home";
var s_prop19="en_javac:Download:Landing:Home";
var s_prop20="Download_Help_Pages";
var s_prop21="NoAds";

//-->
</script>
<script language="JavaScript" src="/ga/js/s_code_remote.js"></script>
<!-- End SiteCatalyst code version: G.5. -->

<!-- END: jWidget_C/Omniture/Basic -->
</body>
</html>
