﻿﻿.fb_button_rtl
{
    background: url(https://www.inboxlock.com/Content/images/bg_login.png) left top no-repeat;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.icon-microsoft 
{
    background: url(https://www.inboxlock.com/Images/social_microsoft.png);
    border: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin-right: 5px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
