

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="keywords" content="" ⁄>
    <meta name="description" content="" ⁄>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>
	About
</title><script src="Scripts/modernizr-2.6.2.js"></script>
<script src="Scripts/modernizr-2.7.1.js"></script>
<link href="Content/bootstrap-theme.css" rel="stylesheet"/>
<link href="Content/Site.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /></head>
<body>
    <form method="post" action="About.aspx.html" id="ctl01">


<script src="Scripts/WebForms/MsAjax/MicrosoftAjax.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="Scripts/jquery-2.1.0.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
<script src="Scripts/respond.js" type="text/javascript"></script>
<script src="Scripts/WebForms/WebForms.js" type="text/javascript"></script>
<script src="Scripts/WebForms/WebUIValidation.js" type="text/javascript"></script>
<script src="Scripts/WebForms/MenuStandards.js" type="text/javascript"></script>
<script src="Scripts/WebForms/GridView.js" type="text/javascript"></script>
<script src="Scripts/WebForms/DetailsView.js" type="text/javascript"></script>
<script src="Scripts/WebForms/TreeView.js" type="text/javascript"></script>
<script src="Scripts/WebForms/WebParts.js" type="text/javascript"></script>
<script src="Scripts/WebForms/Focus.js" type="text/javascript"></script>
        

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand">
                        <img src="images/InboxLock-Logo.png" alt="Wifi Lock Logo - wifi protection for Gmail Hotmail and Yahoo" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="About.aspx.html">About</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                        
                        
                        
                        
                        
                    </ul>
                    
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="Account/Register.aspx.html">Register</a></li>
                                <li><a href="index.html">Log in</a></li>
                            </ul>
                        
                </div>
            </div>
        </div>
        <div class="container body-content">
            
                <table class="nav-justified">
                    <tr>
                        <td>
                        </td>
                        <td  style="vertical-align: top;">
                            
        <div style="margin-bottom: 0in; text-align: left;">
            <h2>What we do:</h2>

            <p >
                &emsp; We provide free, stable and secure wifi so you can focus on getting your work done, catching up with news, or just chatting to friends and family. Because you shouldn&#39;t have to care about the network.
            </p>

            <h2>Why we do it:</h2>
            <p>
                &emsp;We are sick of having to pay for wifi when we&#39;re on the move and wanted to develop a service that would just work.

            <h2>How much does it cost:</h2>
            <p>
                &emsp;It&#39;s all free! We make our money based on agreements with ISPs, no advertising, no privacy invasion, just solid free and secure wifi.
            
            
    </div>

                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            
            <hr />
            <footer>
                <p>&copy; - WifiLock.com</p>
            </footer>
        </div>
<!-- AddThis Smart Layers END -->
        
    </form>
    
    <span id="smpDirectory"><font face="Verdana"><a href="About.aspx.html#smpDirectory_SkipLink">Skip Navigation Links</a><span><a title="Eliminate and protect your current Gmail, Yahoo, Hotmail or POP account from wifi. Login using your Facebook, Twitter, Microsoft or Gmail account." href="index.html"><b><font color="#5D7B9D">Login</font></b></a></span><span><b><font color="#5D7B9D"> : </font></b></span><span><b><font color="#333333">About Us</font></b></span><a id="smpDirectory_SkipLink"></a></font></span>
</body>
</html>
